@model Art

<div class="posts">
    <div class="post">
        <image class="post-image" src="@Model.ImageUrl"></image>
        <div class="post-text">
            <h2 class="post-title">@Model.Title</h2>
            @if (Model.Description is not null)
            {
                @for (int i = 0; i < Model.Description.Count; ++i)
                {
                    <div class="post-description-group">
                        @for (int j = 0; j < Model.Description[i].Parts.Count; ++j)
                        {
                            <p class="post-description-part">@Model.Description[i].Parts[j]</p>
                        }
                    </div>
                }
            }
            <p class="post-source">
                <a href="@Model.SourceUrl">@Model.SourceUrlText</a>
            </p>
        </div>
    </div>
</div>